<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style_layout.css">
    <title>Reto Layout 1</title>
</head>
<body>
    <header>
        <figure><img class="icono" src="./pics/LOGO PET.jpeg" alt="logo"></figure>      
        <div> CITY PET SPA</div>
      <nav>
          <ul class="nav-header">
            <li>Inicio</li>
            <li>Quienes Somos</li>
            <li>Contactenos</li>
            </ul>
       </nav> 
     </header>
     <main>
       <section class="section-men">
          <div class="div-caja-men"><img class="img_men" src="./pics/img_p_canino.png" alt="Peluqueria Canina"></div>
          <div class="div-caja-men"><img class="img_men" src="./pics/img_p_felina.png" alt="Peluqueria Felina"></div>
          <div class="div-caja-men"><img class="img_men" src="./pics/img_p_boutique.png" alt="Peluqueria Felina"></div>
          <div class="div-caja-men">caja 4</div>
           </section>
      <section class="section-text">
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, nam vitae, reprehenderit ullam illum fugit numquam ducimus cupiditate sapiente sed facere magnam ex laboriosam nesciunt non molestias modi consectetur dolorem?
       Nulla, vel excepturi provident enim animi autem minima commodi beatae cupiditate, totam voluptates fugit, sequi doloremque. Alias quam, laborum, ducimus, quisquam enim aliquam iure assumenda nulla natus qui tempora delectus!
       Laudantium minima eos, doloribus consequatur animi explicabo voluptas totam quas, voluptate tempora est molestias iste. Eum expedita non sed, nisi dolores libero ullam perspiciatis consectetur ab magnam deserunt, sapiente vero!
       Totam, eveniet cupiditate impedit ipsa, non tenetur, excepturi quasi soluta consequatur et est accusantium laborum voluptate nemo? Ab et unde quod quidem temporibus asperiores, porro, hic aspernatur exercitationem natus velit.
       Delectus, ratione asperiores. Consectetur earum, debitis magnam quo iste maiores veritatis non fugit tenetur saepe autem vero culpa quam perspiciatis hic et temporibus, similique animi accusantium a facere sapiente! Tempora!
       Accusamus cupiditate ipsa adipisci expedita enim magni dolores ex omnis nihil suscipit, hic delectus, praesentium explicabo quidem voluptates ut vero asperiores voluptate eum quia, accusantium sed debitis nam. Provident, quo?
       At mollitia expedita officiis exercitationem accusantium pariatur quidem velit sequi quisquam nostrum incidunt, impedit aliquid tenetur qui beatae. Magnam fugiat deserunt molestiae provident quam molestias aperiam explicabo, sapiente libero? Tenetur?
       Deserunt, aliquam labore distinctio ex eos corrupti tempore? Quae cum quia, omnis, repellat voluptatem esse voluptas, porro enim nemo tempora nihil molestias consequuntur architecto dolorem. Nostrum vel autem repudiandae et!
       Provident eligendi fuga veniam repellat consectetur, expedita nam repellendus accusamus exercitationem itaque rem adipisci. Rem blanditiis quaerat unde a et dolorum ratione amet laudantium obcaecati, provident facere nisi tempore deserunt.
       Ab molestias exercitationem adipisci hic expedita, repudiandae dolores doloribus est id qui recusandae tenetur aut deserunt. Veritatis repudiandae dolorum impedit sapiente, dolore consectetur eos reprehenderit eveniet consequuntur perferendis eum sequi?
       Quasi accusamus aut labore facilis corrupti nostrum, sunt corporis illo sit veritatis velit dolorem explicabo aliquam. Sint id, magni minima beatae porro deleniti nobis inventore nostrum mollitia, eum dignissimos. Excepturi!
       Ea aspernatur eaque repudiandae quidem quibusdam, voluptatibus illo labore dicta? Beatae odio quis tenetur velit nemo enim facilis quibusdam debitis sed cupiditate? Dolores quo autem sequi distinctio atque vel beatae?
       Ea odit dolorem dolor magnam itaque voluptate recusandae debitis incidunt animi assumenda consequatur ducimus ut libero sequi, dicta alias labore nisi. Dicta ipsa sit a, beatae ex porro consequatur delectus.
       Ad, delectus voluptatum? Iure praesentium nam fugiat cum in impedit sapiente, doloribus mollitia est nesciunt expedita eveniet illum eligendi dolor perspiciatis eaque pariatur nobis asperiores deleniti sed voluptas quae molestiae.
       Aliquam consequuntur asperiores beatae ipsum voluptas quaerat explicabo qui! Aliquid minima dolores sequi expedita praesentium facilis, dignissimos itaque saepe obcaecati dolore accusantium fugiat nihil assumenda explicabo tempore a odit eos.
       Minus ducimus quia eos fugit delectus, dolore odio labore aspernatur harum ad veniam fugiat, pariatur maxime aperiam neque vitae? Nemo ut autem sit deleniti maiores aliquam deserunt harum culpa architecto!
       Aspernatur repudiandae esse harum, ipsum impedit itaque similique iusto laudantium quibusdam sit corrupti pariatur quisquam modi dolorum ducimus fuga facere eos expedita alias ratione assumenda earum? Veritatis laborum dolor quidem?
       Pariatur consectetur fugit veritatis ex qui recusandae. Cupiditate placeat harum ratione debitis ipsa praesentium dolorem reprehenderit voluptatum delectus aut recusandae vero veniam, minima accusamus. Voluptas, amet odit. Ipsam, enim? Expedita.
       Explicabo, mollitia laboriosam vel eos illum perferendis laborum, veniam, nulla error facilis est qui ipsam? Quaerat laborum, ipsam illum impedit inventore eaque commodi eveniet magni provident veritatis dolorem sequi dolor.
       Eum beatae harum quos, velit fuga omnis a unde, quaerat cumque inventore minima, vero sapiente eveniet! Sed laboriosam corporis officiis repudiandae et voluptatem rerum quia consequatur reiciendis ducimus, cumque repellendus?
      </section>
       <footer>
       </footer>
     </main>
 </body>
</html>