* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}

header{
background-color: rgba(0, 0, 95, 0.932);
color: white;
width: 100vw;
height: 12vh;
font-family:Arial, Helvetica, sans-serif;
}

.icono { 
    width: 75px;
    height: 75px;
    display: inline-block;
    border-radius: 2px;
}

figure {
    display: inline-block;
    padding-left: 10px;
    padding-top: px ;
}

nav{
    display: inline-block;   
    padding-top: 3vh;
    position: absolute;
    left: 60%;

}

header div {

    display: inline-block;  
    position: absolute;
    padding-top: 3vh;
    font-size: 2.5rem;
    padding-left: 20px;
}

.nav-header li {
    display: inline-block;
    font-size: 2rem;
    margin: 10px 0;
    padding-left: 15px;
    padding-right: 15px;
}

main
{
    width: 100%;
    height: 100%;
    background-color:white
    min-width: 320px;
    max-width: 500px;
    min-height :500px;
   
}

.section-men {
    background-color:rgb(136, 44, 136);
    display: inline-block;
    width: 20vw;
    height: 78vh;
    
}

.div-caja-men{
    font-size: 1.5rem;
    border-radius: 5px;
    border: 10px;
    background-color: white;
    position: relative;
    margin: 15px auto;
    width: 80%;
    height: 16%;    
}

.img_men{
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 5px;
}

.section-text{

    display: inline-block;
    font-size: 1.5rem;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: justify;
    }

footer{
    background-color: rgba(0, 0, 95, 0.932);
    width: 100vw;
    height: 10vh;
}


